option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18
    NodeCommand: "npm start"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    SecurityGroups: sg-xxxxxxxxx
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
